body{
font-family: "IBM Plex Mono", monospace;
font-style: normal;
font-size: 20px;
margin: 0;
}

h1{
    margin: 5px;
    padding-left: 4.4%;
}

li{
    list-style: none;
}

.horni-cast{
    padding: 10px;
    display: flex;
    gap: 50px;
}

a{
    color: black;
    font-weight: bold;
    white-space: nowrap;
    
}

div a:hover{
    color: darkgoldenrod;
}

.stredni-cast{
    display: block;
    text-align: center;
}

.fotka{
    border-radius: 50%;
    height: 150px;
    padding-top: 50px;
    margin-top: 5%;
}

h2{
    font-size: 65px;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}

.popis{
    font-style: italic;
    font-size: 20px;
    padding-top: 20px;
}

.tvorby-webu{
    text-decoration: underline;
}

.hr1{
    border:none;
    height: 20px;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: 100px;
}

li{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    display: block;
}

.hr2{
    border: none;
    height: 20px;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: 100px;
}

.kontakt{
    font-size: 20px;
    text-align: center;
}

.btn{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 70px 10px;
    border-radius: 8px;
}

.zapati, .footer-link{
    background-color: #11999e;
    color: white;
    text-align: center;
    padding: 50px 0 20px;
}

.gif{
    position: absolute;
    top: 836px;
    right: 225px;
    width: 10%;
    border-radius: 20%;

}

@media (max-width: 600px) {
    body {  
        font-size: 16px;
        text-align: center;
    }

    h1 {
        font-size: 24px;
    }
    
    .horni-cast {
        display: block;
        gap: 0;
        padding: 5px;
    }
    
    .fotka {
        height: 100px;
        padding-top: 20px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    .popis {
        font-size: 16px;
    }
    
    .hr1, .hr2 {
        margin: 50px;
    }
    
    .kontakt {
        font-size: 16px;
    }
    
    .btn {
        font-size: 16px;
    }
    
    .gif {
        display: none;
    }
}

@media (max-width: 1100px){
    .gif{
        display: none;
    }
}

@media (max-width: 789px){
    a{
        display: block;
        margin-top: 20px;
    }
}
